# ملفات بايثون المؤقتة
__pycache__/
*.pyc

# قاعدة البيانات (حتى لا ترفع بيانات حقيقية للإنترنت)
schedule_database.db

# ملفات البيئة الوهمية (إذا كنت تستخدمها)
venv/
env/

# ملفات الوورد الناتجة من التصدير
*.docx